astroid==2.15.0
black==23.1.0
blowfish==0.6.1
certifi==2022.12.7
charset-normalizer==3.1.0
coverage==7.2.1
crypto==1.4.1
des==1.0.6
dill==0.3.6
flake8==6.0.0
Flask==2.2.2
idna==3.4
isort==5.12.0
Jinja2==3.0.3
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy-extensions==1.0.0
Naked==0.1.32
packaging==23.0
pathspec==0.11.0
platformdirs==3.1.1
pycipher==0.5.2
pycodestyle==2.10.0
pycryptodome==3.17
pycryptodomex==3.17
pyflakes==3.0.1
pylint==2.17.0
pytest==7.1.2
pytest-html==3.2.0
pytest-metadata==2.0.4
PyYAML==6.0
requests==2.28.2
shellescape==3.8.1
tomlkit==0.11.6
typing_extensions==4.5.0
urllib3==1.26.14
wrapt==1.15.0
